In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./ManualSentimentClassifier/train.pred.csv", engine="python", header=None)
df

,0,1,2,3
0,It was clear right from the beginning that 9/...,positive,positive,NaN
1,The most hillarious and funny Brooks movie I ...,positive,positive,NaN
2,Along with Fernando Fragata JoÃ£o MÃ¡rio Gril...,positive,positive,NaN
3,The original Vampires (1998) is one of my fav...,positive,positive,NaN
4,The Matador stars Pierce Brosnan as a burned ...,positive,negative,NaN
...,...,...,...,...
1995,Lifetime did it again. Can we say stupid? I c...,negative,negative,NaN
1996,OK first of all Steve Irwin rest in peace. Yo...,negative,positive,NaN
1997,If you want to know the real story of the Wen...,negative,negative,random tiebreak
1998,I've just had the evidence that confirmed my ...,negative,negative,NaN
1999,*Contains some spoilers* This movie is cheesy...,negative,negative,NaN

In [119]:
s = str(df.iat[4, 0])
s

" The Matador stars Pierce Brosnan as a burned out assassin. He's James Bond gone to seed in too-tight garish clothes gold chains and an ugly haircut. Our struggling assassin Julian Noble is in Mexico trying to regain his nerve. Staying at the same hotel is a likable down-on-his luck businessman Danny Wright (Greg Kinnear) also trying to regain his equilibrium. Danny is desperate to close a deal and return to his wife in Denver (Hope Davis) with good news. Noble and Wright unexpectedly become friends. Wright convinces Noble to reveal certain techniques which he demonstrates at a bullfight. Noble is eventually targeted by his employers and shows up in Denver. Writer and director Richard Shepard did the Q&A after this delightful movie at the Austin Film Festival. Shepard was also down on his luck. After suffering the loss of his agent and rejection of recent scripts he decided to write a story no one would buy and create a character no one would want to play. Then Pierce Brosnan called. Brosnan regains his equilibrium in this movie. (There is life after Bond!) He has a wonderful flair for self-deprecating comedy. Don't miss it. Stay for the closing credits to read what the filmmakers say about bullfighting. I look forward to more of Richard Shepard's projects. "

In [120]:
file = open("./ManualSentimentClassifier/negative.txt", "r")
neg = file.read()

file = open("./ManualSentimentClassifier/positive.txt", "r")
pos = file.read()

In [121]:
import re
negwords = re.findall("(?<=\\n)(.*?)(?=\\n)", neg)
negwords.insert(0, "bad")

poswords = re.findall("(?<=\\n)(.*?)(?=\\n)", pos)
poswords.insert(0, "good")

In [122]:
posout = []
negout = []

for word in s.split():
    if word in set(poswords):
        posout.append(word)
    
    if word in set(negwords):
        negout.append(word)

In [123]:
len(posout) - len(negout)

-6

In [124]:
print("POSITIVE WORDS:")
for word in posout:
    print(word)
print("\nNEGATIVE WORDS:")
for word in negout:
    print(word)

POSITIVE WORDS:
gold
likable
luck
good
delightful
wonderful

NEGATIVE WORDS:
burned
garish
ugly
struggling
assassin
desperate
unexpectedly
suffering
loss
rejection
flair
miss